.text-size-mid {
    font-size: 32px;
   word-spacing: 5px;
}

.indent {
    text-indent: 50px;
}

.centering-about-container {
    display: flex;
    justify-content: center;
}

.about-container {
    margin: 3rem;
    padding:1rem 5rem;
    border: solid 2px gray;
    border-radius: 4px;
    box-shadow: gray 3px 4px;
    font-size: 24px;
}

@media (max-width: 992px) {
    .about-container {
        width: auto;
        padding: 1rem;
    }

    .text-size-mid {
    font-size: 16px;
}
}

@media (max-width: 600px) {
    .centering-about-container{
        display: inherit;
    }
    .about-container {
        margin: 1rem;
        width: auto;
    }
}

